body {
	margin: 0;
	padding: 0;
	background-image: ketintang, -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
	background-image: ketintang, -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
	background-image: ketintang, -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
	background-image: ketintang, linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(255,0,0,0.00) 100%);
	font-family: verdana;
	font-size: 14px;
	color: #8A8A8A; /*warna isi selamat datang*/
	background-color: hsla(0,0%,0%,0.00);
	
}

h1, h2, h3 {  /*kotake jurnal*/ 
	margin: 0;
	font-weight: normal;
	color: #618C04;
}

h1 {
 font-size: 20px; }
 color : #F8F8FF;
 }

h2 { font-size: 14px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;

}

ul, ol {	background: white; }

blockquote { }

a { color: #77B003; /*warna someone*/}

a:hover { text-decoration: none; }

a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header-wrapper {
}

#header {
	width: 940px;
	height: 36px;
	margin:0px 0 0px 180px;
}

/* Menu */

#menu {/* menu kbeh*/
	float: left;
	width: 1000px;
	height: 43px;
	background: #F08080;
}

#menu ul {
	margin: 0;
	padding: 0px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	
	
}

#menu li {
	display: block;
	float: left;
}

#menu a { /* logout */
	display: block;
	float: left;
	height: 30px;
	margin: 0;
	padding: 13px 30px 0px 30px;
	text-decoration: none;
	text-align: center;
	font-family: verdana;
	font-size: 12px;
	font-weight: bold;
	color: black; /*warna putih logout*/
	background: #F08080;
}

#menu a:hover { 
	text-decoration: none; 
}

#menu .current_page_item a {
}

#menu .first {
}
/* Search */

#search {
	float: right;
	width: 260px;
}

#search form {
	float: right;
	margin: 0;
	padding: 11px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Georgia, "Times New Roman", Times, serif;
	border: none;
}

#search-text {
	width: 200px;
	height: 18px;
	padding: 3px 0 0 5px;
	border: 1px solid #333333;
	background: #ECF9E4; /*textbox search*/
	color: #000000;/*tulisane textbox search*/
}

#search-submit {
	height: 21px;
	margin-left: 10px;
	padding: 0px 5px;
	background: #00BFFF;/*warna biru go*/
	color: #FFFFFF;/*tulisane go search*/
}

/* Page */

#page {
/*kotake isie/batase*/
	width: 1000px;
	margin:0px 0 0px 180px;
	padding: 70px 0px 0px 0px;
<<<<<<< HEAD

	
}
=======
	background: {background:rgba(0,0,0,0.4);/*warna biru */
	}

>>>>>>> 173596395eda373d22ff99382d2e112cd6e7fae2


/** LOGO */

#logo {

	width: 940px;
	height: 100px;
	margin:100px 0px 0px 200px;
	position: static;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	font-weight: normal;
	color: #618C04;
}

#logo p {
	margin-top: -4px;
	font-size: 13px;
	color: #A8A8A8;
}

#logo h1 {
	padding-top: 10px;
	font-size: 30px;
}

#logo a {
	text-decoration: none;
	color: lime ; /*warna tek inf unesa */
}

#logo h1 a {
font-size: 50px;
	text-decoration: none;
	color: gold;/*warna jurnal*/
}


#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
/*anue isie menu*/
	float: left;
	width: 670px;
}

/* Post */

.post {
	margin-bottom: 45px;
	
}

.post .title {
	height: 44px;
	padding-left: 15px;

		background: lime;
}

.post .title a {
	text-decoration: none;
	font-size: 18px;
	color: #618C04;/* tuliasne selamat datang*/
}

.post .date {
}

.post .meta {
	margin-top: -8px;
	margin-left: 2px;
	padding: 0px 30px 2px 15px;
	border-bottom: 1px solid #D4D8CB; /* garise */
	font-family: verdana;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;/* tuliasane tgl nisore*/
}

.post .meta span {
	display: block;
	margin-top: -10px;
	
}

.post .meta a { }

.post .entry {
	margin-bottom: 10px;
	padding: 10px 15px 10px 15px;
	background: white; /* kotak isi2*/
}

.post .links {
	display: block;
	width: 120px;
	height: 20px;
	margin: 0px 0px 0px 0px; 
	padding: 4px 0px 0px 40px;
	background: url(images/img03.gif) no-repeat left top;
	text-decoration: none;
	font-family: verdana;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: blue;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: url(images/img07.gif) no-repeat left top;
	text-decoration: none;
	font-family: verdana;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #961A06;
}

/* Sidebar */

#sidebar {
	float: left;
	width: 240px;
	font-family: verdana;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
}

#sidebar li ul {
	margin: 0px 14px;
}

#sidebar li li {
	margin: 0;
	padding: 12px 0px;
	border-bottom: 1px solid #E9E8DD;
	background: url(images/img08.gif) no-repeat left 18px;
}

#sidebar li li a {
	padding: 0px 0px 0px 20px;
	font-weight: normal;
	color: #808080;
}

#sidebar li li a:hover {
	color: #77B003;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 0 2px 14px;
	background: url(images/img05.gif) repeat-x left top;
	font-size: 18px;
	font-weight: normal;
	color: #618C04;
}


#sidebar p {
	line-height: 200%;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 100%;
	height: 100px;
	margin: 0 auto;
	padding: 0;
	background: #ADFF2F;
}

#footer-bgcontent {
}

#footer p {
	margin: 0;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height: normal;
	font-size: 10px;
}

#footer a {
}

untuk tabel
p, td, th {
    font: 12 verdana;
}
.datatable {
    border: 1px solid #D6DDE6;
    border-collapse: collapse;
    width: 100%;
}
.datatable td {
    border: 1px solid yellow;
    padding: 4px;
}
.datatable th {
    border: 1px solid yellow;
    background-color: gold;
    font-weight: bold;
    text-align: left;
    padding-left: 4px;
	padding-right: 0px;
	text-align:center;
}
.datatable caption {
    font: bold 12px verdana;
    color: #33517A;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 8px;
}
.datatable tr.altrow {
    background-color: blue;
    color: blue;
}
